.section1 h2 {
  font-weight: bold;
  font-size: 36px;
  font-family: "Times New Roman", serif;
  line-height: 50px;
}

.section1 h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.section1 h4 {
  font-weight: 600;
  font-size: 28px;
}
<<<<<<< HEAD


=======
>>>>>>> dev_Mai
.section1 .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section1 .container2 {
  margin-right: 60px;
  margin-left: 60px;
}
.section1 .item {
  display: flex;
  flex-direction: row;
}
.section1 .item img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 20px;
}

.section1 .container p,
.item p {
  padding: 10px;
  width: 400px;
  text-align: justify;
}
.section1 .container2 .item p {
  font-size: 14;
  font-family: 'Times New Roman', Times, serif;
}