.footer_conteiner{
    display: flex;
    flex-direction: row;
}
.footer_conteiner .item{
    font-size: 28px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer_conteiner01{
    text-align:center;
}
.footer_conteiner1{
    margin-right: 40px;
    margin-left: 40px;
}
.footer_conteiner2{
    margin-right: 40px;
    margin-left: 50px;
}