.section8_big_text {
  margin-top: 120px;
  font-weight: 900;
  font-size: 56px;
  line-height: 72px;
}
.section8_title {
  text-align: center;
  width: 100%;
}
.section8_position{
   display: grid;
   grid-template-columns: auto auto auto auto auto;
  gap: 20px ;
  width: 85%;
  margin: 0 auto;
}
.section8_img {
  width: 17%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 240px;
}
