*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
a.section3_button {border: 2px solid #252525;
  color: #252525;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;}
  a.section3_button.section3_large{
    width: 260px;
    height: 53px;
    padding: 15px;
  }
  h2.big.text-center{font-weight: 900;
    font-size: 56px;
    line-height: 72px;}
 
img {
  display: block;
  max-width: 100%;

}

h4{font-size: 18px;
  font-family: 'Roboto';
  line-height: 140%;}



p{ margin: 0 0 10px; 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body,
input,
button,
textarea,
select {
  outline: none;
  font-size: 12px;
  line-height: 1.5;

}
input {
  line-height: normal;
}
button {
  cursor: pointer;
}
body {
  padding: 20px;
}
.image-slider {
  padding-bottom: 50px;
  margin: 50px auto;
}
.image {
  height: 800px;
  margin-bottom: 5px;
}

.image-title {
  font-size: 20px;
  color: #8e8fb5;
  position: absolute;
}
.slick-initialized .slick-slide {
  margin: 0 10px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
  border-radius: 50%;
}
.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color: #2cccff;
}
.image-slider .image{
  opacity: 0.5;
}

.image-slider .slick-center .image {
  opacity: 1;
  transition: 1s ease;
}
  .image .img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 12px; */
    background-image: url("../Img/home-01.jpg");
        background-repeat: no-repeat;
  }
  .image .img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 12px; */
    background-image: url("../Img/home-02.jpg");
        background-repeat: no-repeat;
  }
  .image .img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 12px; */
    background-image: url("../Img/home-03.jpg");
        background-repeat: no-repeat;
  }
  .image .img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 12px; */
    background-image: url("../Img/home-04.jpg");
        background-repeat: no-repeat;
  }
  .image .img5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 12px; */
    background-image: url("../Img/home-06.jpg");
        background-repeat: no-repeat;
  }
 

  .slick-dots{
    list-style-type: none;
  }
  .section3_title{
    color: #252525;
    font-weight: 800;
    font-size: 40px;
    line-height: 32px;
    font-family: 'Playfair Display';
    line-height: 1.1;
  }

    .desc{text-shadow: white 0px 0px 10px;
      margin-bottom: 10px;
      font-size: 13px;
  }
  .section3_text_center{font-size: 15px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 24px;
    
  }
  .section3_text{
      text-align: center;}
  
  .section3_didiv{
    padding: 20px 0px 0px 20px;
  }
  .desc{
    font-size: 15px;
    font-family: "Roboto", Arial, sans-serif;
    margin-top:10px;
  
  }
 .section3_pack{
  background: #85b30b;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  width: 70px;
  padding: 2px 0px;
  text-align: center;
  color: #FFF;

 }
  