.section8_big_text{
    font-weight: 900;
    font-size: 56px;
    line-height: 72px;
}
.section8_title{
    text-align: center;
    width:100%
    
}
.section8_position{
   display: grid;
   grid-template-columns: auto auto auto auto auto;
  gap: 20px ;
  width: 85%;
  margin: 0 auto;
   
}
.section8_img{
    width: 300px;
    height: 300px;
}