.section8_big_text {
  margin-top: 120px;
  font-weight: 900;
  font-size: 56px;
  line-height: 72px;
}
.section8_title {
  text-align: center;
  width: 100%;
}

.section8_title h3 {
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 60px;
}

#section8_big_div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.section8_img {
  width: 20%;
  height: 220px;
}
